// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo');

// Variables
@import 'resources/sass/variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Components
@import 'components/ItemsList';

body {
    padding: 0;
}

h1, h2 {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin-top: $title-margins;
    margin-bottom: $title-margins / 2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}
